$purp: #6441a5

@import 'partials/general'

@import 'pieces/top-nav'


.jumbotron
  background: #aaa
  height: 600px

  .top-content
    padding: 60px 0
    color: #fff
    a
      color: #a68ed2

    .video
      height: 620px
      width: 380px
      float: left

    .description
      height: 380px
      width: 320px
      float: right
      background: rgba(0,0,0,0.35)
      padding: 20px
      overflow: hidden

      .meta
        min-height: 36px
        margin-bottom: 20px
        .pic
          margin-right: 10px
          float: left
        h5
          font-size: 14px
          line-height: 1.286

      h2
        font-size: 24px
        margin: 20px 0 25px
        font-weight: 200

      p
        margin-bottom: 12px


