@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

body {
  color: #3b3b3b;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #6441a5; }

.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden; }

input.text {
  line-height: 28px;
  padding: 0 7px;
  height: 30px;
  font: inherit;
  letter-spacing: inherit;
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background: #fff; }

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  font-family: inherit;
  padding: 0;
  color: #6441a5;
  border: 0;
  background: none; }

.button.primary {
  background: #6441a5;
  color: #fff;
  padding: 0 10px;
  font-size: 12px; }

.button.primary.large {
  min-width: 40px;
  padding: 0 20px;
  font-size: 14px; }

.full-light {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 -1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05); }

.top-nav {
  height: 60px;
  position: relative;
  background: #fff; }
  .top-nav .logo {
    float: left;
    margin-top: 8px; }
  .top-nav .header-actions {
    float: right;
    margin-top: 4px; }
    .top-nav .header-actions .search, .top-nav .header-actions .browse, .top-nav .header-actions .go-turbo,
    .top-nav .header-actions .header-divider, .top-nav .header-actions .log {
      display: inline-block; }
  .top-nav #header-search {
    margin-right: 20px; }
    .top-nav #header-search .text {
      width: 200px;
      background-color: #fff;
      background-image: url("../images/header_search_icon.svg");
      background-repeat: no-repeat;
      background-position: 4px center;
      text-indent: 20px;
      margin: 0; }
      .top-nav #header-search .text:focus {
        outline: 0;
        box-shadow: 0 0 3px 1px rgba(185, 155, 235, 0.75);
        -webkit-box-shadow: 0 0 3px 1px rgba(185, 155, 235, 0.75);
        border: 1px solid rgba(100, 65, 165, 0.75); }
  .top-nav .go-turbo {
    margin-left: 20px; }
  .top-nav .header-divider {
    position: relative;
    top: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 0;
    height: 20px;
    margin: 5px 20px; }
  .top-nav .log-in {
    margin-right: 20px; }

.jumbotron {
  background: #aaa;
  height: 600px; }
  .jumbotron .top-content {
    padding: 60px 0;
    color: #fff;
    height: 380px; }
    .jumbotron .top-content a {
      color: #a68ed2; }
    .jumbotron .top-content .video {
      float: left; }
    .jumbotron .top-content .description {
      height: 380px;
      width: 320px;
      float: right;
      background: rgba(0, 0, 0, 0.35);
      padding: 20px;
      overflow: auto; }
      .jumbotron .top-content .description .meta {
        min-height: 36px;
        margin-bottom: 20px; }
        .jumbotron .top-content .description .meta .pic {
          margin-right: 10px;
          float: left; }
        .jumbotron .top-content .description .meta h5 {
          font-size: 14px;
          line-height: 1.286; }
      .jumbotron .top-content .description h2 {
        font-size: 24px;
        margin: 20px 0 25px;
        font-weight: 200; }
      .jumbotron .top-content .description p {
        margin-bottom: 12px; }
  .jumbotron .bottom-content {
    height: 116px;
    background: rgba(0, 0, 0, 0.35);
    margin-top: 39.2px; }
    .jumbotron .bottom-content .js-nav {
      position: relative;
      float: left;
      display: inline-block;
      margin: 20px 20px 0 0; }
      .jumbotron .bottom-content .js-nav img {
        opacity: 0.4; }
        .jumbotron .bottom-content .js-nav img:hover {
          opacity: 1; }
      .jumbotron .bottom-content .js-nav:last-child {
        margin-right: 0; }

.featured {
  padding-top: 60px;
  padding-bottom: 60px; }
  .featured h2 {
    font-size: 28px;
    line-height: 1.29;
    margin: 20px 0 25px; }
    .featured h2 span {
      margin-left: 10px;
      font-size: 80%;
      font-weight: 200;
      color: #999; }
  .featured .games-container {
    width: 100%;
    height: 580px;
    overflow: hidden; }
    .featured .games-container .game {
      float: left;
      display: inline-block;
      width: 140px;
      height: 270px;
      margin: 20px 20px 0 0;
      overflow: hidden; }
      .featured .games-container .game:nth-child(6n) {
        margin-right: 0; }
      .featured .games-container .game .boxart {
        margin-bottom: 10px; }
      .featured .games-container .game .meta p {
        width: 100%; }
      .featured .games-container .game .meta .title {
        font-size: 14px;
        color: #3b3b3b; }
      .featured .games-container .game .meta .info {
        color: #8c8c8c; }
  .featured .browse-games {
    text-align: right;
    margin-top: 40px; }
    .featured .browse-games h4 {
      font-size: 16px;
      line-height: 1.25; }
    .featured .browse-games a::after {
      content: "»";
      margin-left: 10px;
      font-family: Arial;
      font-size: 18px; }

.follow-news {
  text-align: center;
  background-image: url("http://www-cdn.jtvnw.net/images/xarth/pages/front/splash.png");
  background-repeat: no-repeat;
  background-position: center center; }
  .follow-news .container {
    padding: 50px 20px; }
  .follow-news h2 {
    margin: 20px 0 25px;
    font-size: 28px;
    line-height: 1.29; }
  .follow-news .button {
    margin: 0 10px; }

.top-live-channels .container {
  padding: 60px 0 90px 0; }
.top-live-channels h2 {
  font-size: 28px;
  line-height: 1.29;
  margin: 20px 0 25px; }
  .top-live-channels h2 span {
    margin-left: 10px;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
    font-weight: 200; }
.top-live-channels .videos .video {
  position: relative;
  float: left;
  width: 300px;
  margin: 20px 20px 0 0; }
  .top-live-channels .videos .video:nth-child(3n) {
    margin-right: 0; }
  .top-live-channels .videos .video .content .title {
    height: 20px;
    overflow: hidden; }
  .top-live-channels .videos .video .thumb {
    position: relative; }
  .top-live-channels .videos .video .boxart {
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    bottom: 40px; }
.top-live-channels .browse-games {
  text-align: right;
  position: relative;
  top: 40px; }
  .top-live-channels .browse-games h4 {
    font-size: 16px;
    line-height: 1.25; }
  .top-live-channels .browse-games a::after {
    content: "»";
    margin-left: 10px;
    font-family: Arial;
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */
