.jumbotron
  background: #aaa
  height: 600px
  
  .top-content
    padding: 60px 0
    color: #fff
    height: 380px
    a
      color: #a68ed2
    .video
      float: left
    .description
      height: 380px
      width: 320px
      float: right
      background: rgba(0,0,0,0.35)
      padding: 20px
      overflow: auto
      .meta
        min-height: 36px
        margin-bottom: 20px
        .pic
          margin-right: 10px
          float: left
        h5
          font-size: 14px
          line-height: 1.286
      h2
        font-size: 24px
        margin: 20px 0 25px
        font-weight: 200
      p
        margin-bottom: 12px

  .bottom-content
    height: 116px
    background: rgba(0,0,0,0.35)
    margin-top: 39.2px
    .js-nav
      position: relative
      float: left
      display: inline-block
      margin: 20px 20px 0 0
      img
        opacity: 0.4
        &:hover
          opacity: 1.0
      &:last-child
        margin-right: 0